<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.3/dist/full.css" rel="stylesheet" type="text/css" />

    <script defer src="/dist/persist.min.js"></script>
    <script defer src="/dist/alpinejs.min.js"></script>
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script src="/dist/htmx.min.js"></script>
    <script src="/dist/json-enc.js"></script>

</head>

<body>
    <div class="flex justify-between h-[40px] w-full bg-gradient-to-r from-amber-500 to-yellow-500 px-5">
        <img src="assets/beer-logo.svg" @click="window.location.href='/home'" />
        <ul class="flex gap-4 mr-4">
            <li class="my-auto hover:cursor-pointer" onclick="window.location.href='/home'">Home</li>
            <li class="my-auto hover:cursor-pointer" hx-get="/beer/ranking" hx-target="#main-screen">Ranking</li>
            <li class="my-auto hover:cursor-pointer" hx-get="/about" hx-target="#main-screen">About</li>
        </ul>
    </div>

    <div class="min-h-screen bg-[url('assets/grain-bkg.svg')] bg-cover bg-no-repeat" id="main-screen"
        x-data="{champId: $persist('new')}">
        <div class="hero min-h-screen">
            <!-- <div class="hero-overlay bg-opacity-30"></div> -->
            <div class="hero-content text-center text-neutral-content">
                <div class="max-w-lg text-amber-700 antialiased">
                    <h1 class="text-8xl mb-5 font-['Brush_Script_MT']">Mondo Birra</h1>
                    <p class="mb-5 text-3xl">Benvenut[a/e/i/o/u] Bir Nauta!</p>
                    <p class="font-light mb-5 leading-6">Il posto giusto per chi naviga il mondo della birra!<br> Inizia
                        creando un birr8! <br></p>
                    <button :hx-get="`/championship/${champId}`" x-init="$nextTick(() => htmx.process($el))"
                        hx-target="#main-screen" hx-swap
                        class="rounded-xl bg-amber-700 w-[150px] h-[50px] m-auto text-white"
                        x-text="if(champId != 'new'){ return 'Continua' } else {return 'Inizia'}">
                    </button>
                    <p class="font-light mt-5 leading-6">Scopri di più nella sezione <a class="hover:cursor-pointer"
                            hx-get="/about" hx-target="#main-screen">About</a></p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-center p-3 bg-gradient-to-r from-amber-700 to-orange-400">
        <aside>
            <p class="font-light">Fatto con luppolo, malto d'orzo, acqua e lievito</p>
        </aside>
    </footer>
</body>

</html>
