<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.3/dist/full.css" rel="stylesheet" type="text/css" />

    <script defer src="/dist/persist.min.js"></script>
    <script defer src="/dist/alpinejs.min.js"></script>
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script src="/dist/htmx.min.js"></script>
    <script src="/dist/json-enc.js"></script>

</head>

<body>
    <div class="flex justify-between h-[40px] w-full bg-gradient-to-r from-amber-500 to-yellow-500 px-5">
        <img src="assets/beer-logo.svg" @click="window.location.href='/home'" />
        <ul class="flex gap-4 mr-4">
            <li class="my-auto hover:cursor-pointer" onclick="window.location.href='/home'">Home</li>
            <li class="my-auto hover:cursor-pointer" hx-get="/beer/ranking" hx-target="#main-screen">Ranking</li>
            <li class="my-auto hover:cursor-pointer" hx-get="/about" hx-target="#main-screen">About</li>
        </ul>
    </div>

    <div class="min-h-screen bg-[url('assets/grain-bkg.svg')] bg-cover bg-no-repeat" id="main-screen"
        x-data="{champId: $persist('new')}">
        <div class="hero min-h-screen">
            <!-- <div class="hero-overlay bg-opacity-30"></div> -->
            <div class="hero-content text-center text-neutral-content">
                <div class="max-w-lg text-amber-700 antialiased">
                    <h1 class="text-8xl mb-5 font-['Brush_Script_MT']">Mondo Birra</h1>
                    <p class="mb-5 text-3xl">Benvenut[a/e/i/o/u] Bir Nauta!</p>
                    <p class="font-light mb-5 leading-6">Il posto giusto per chi naviga il mondo della birra!<br> Inizia
                        creando un birr8! <br></p>
                    <template x-if="champId == 'new'">
                        <button class="rounded-xl bg-amber-700 w-[150px] h-[50px] m-auto text-white"
                            @click="choice_modal.showModal()">
                            Crea un birr8!
                        </button>
                    </template>
                    <template x-if="champId != 'new'">
                        <button :hx-get="`/championship/${champId}`" x-init="$nextTick(() => htmx.process($el))"
                            hx-target="#main-screen" hx-swap
                            class="rounded-xl bg-amber-700 w-[150px] h-[50px] m-auto text-white" >
                            Continua
                        </button>
                    </template>
                        <p class="font-light mt-5 leading-6">Scopri di più nella sezione <a class="hover:cursor-pointer"
                            hx-get="/about" hx-target="#main-screen">About</a></p>
                </div>
            </div>
        </div>
        <!-- choice modal -->
        <dialog class="modal" id="choice_modal">
            <div class="flex flex-col max-w-md justify-center modal-box bg-orange-400 bg-cover bg-no-repeat">
                <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                </form>
                <p class="mx-auto p-3 mb-3 text-xl font-bold text-amber-700">Scegli il tuo stile preferito</p>
                <form>
                    <div class="flex flex-col">
                        <select class="rounded-xl w-[150px] mx-auto m-2 text-center" name="family">
                            <option value="ipa">English Pale Ale</option>
                            <option value="frumento">Birre di Frumento</option>
                        </select>
                        <button hx-post="/championship/new" type="submit" hx-target="#main-screen" hx-swap
                            hx-ext="json-enc" class="rounded-xl bg-amber-700 w-[150px] h-[50px] m-auto text-white"
                            x-text="if(champId != 'new'){ return 'Continua' } else {return 'Inizia'}">
                        </button>
                    </div>
                </form>
            </div>
        </dialog>
    </div>
    <footer class="footer footer-center p-3 bg-gradient-to-r from-amber-700 to-orange-400">
        <aside>
            <p class="font-light">Fatto con luppolo, malto d'orzo, acqua e lievito</p>
        </aside>
    </footer>
    <!-- modale per maggiore età -->
    <dialog class="modal" id="major_modal" x-init="if(showMajor){major_modal.showModal()}"
        x-data="{showMajor: $persist(true).using(sessionStorage)}">
        <div class="modal-box bg-[url('assets/beer-bar.png')] bg-cover flex flex-col gap-4 h-48 justify-between">
            <h1 class="text-4xl text-amber-800">Hai l'età legale per bere birra?</h1>
            <div class="flex justify-center gap-4">
                <button class="btn btn-active bg-slate-100/70 w-20" @click="showMajor = false; major_modal.close()">Si</button>
                <button class="btn btn-active bg-slate-100/70 w-20"
                    @click="window.open('https://www.beviresponsabile.it/', '_self'); major_modal.close()">No</button>
            </div>

        </div>
    </dialog>
</body>

</html>
